__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/

venv/
.venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.vscode/
.idea/

*.sqlite3
db.sqlite3

.DS_Store
Thumbs.db

.env
*.log

staticfiles/
